---
import SectionContainer from "../components/section-container.astro";

import { jobs } from "../config";
---

<SectionContainer title="Опыт работы">
  {
    jobs.map((job) => (
      <div class="grid gap-6 md:gap-12 md:grid-cols-[2fr_3fr]">
        <div>
          <h3 class="text-h3 mb-4">
            {job.title},
            <a class="text-blue-400 visited:text-blue-400" href="https://7bits.ru">
              {job.companyName}
            </a>
          </h3>

          <p>{job.date}</p>
          <p class="text-neutral-400">{job.workExperience}</p>
        </div>

        <div class="grid gap-4">
          {job.description.map((text) => (
            <p class="text-pretty">{text}</p>
          ))}
        </div>
      </div>
    ))
  }
</SectionContainer>
